package ${context.pack}.meta;

public class Meta${context.getName()} extends org.kevoree.modeling.abs.AbstractKDataType {

    private Meta${context.getName()}(String p_name, boolean p_isEnum) {
        super(p_name, p_isEnum);
    }

    private static Meta${context.getName()} INSTANCE;
    public static Meta${context.getName()} getInstance() {
        if(INSTANCE == null) {
            INSTANCE = new Meta${context.getName()}("${context.getFqn()}", true);
        }
        return INSTANCE;
    }

#foreach($enumAtt in ${context.litterals})
    private static final String _$enumAtt.toUpperCase() = "$enumAtt.toUpperCase()";
#end


    public Object load(String s) {
#foreach($enumAtt in ${context.litterals})
        if(s.equals(_$enumAtt.toUpperCase())) {
            return ${context.pack}.${context.getName()}.$enumAtt.toUpperCase();
        }
#end
        return null;
    }

    public String save(Object value) {
#foreach($enumAtt in ${context.litterals})
        if(value == ${context.pack}.${context.getName()}.$enumAtt.toUpperCase()) {
            return _$enumAtt.toUpperCase();
        }
#end
        return null;
    }
}

#* @vtlvariable name="context" type="org.kevoree.modeling.ast.MModelEnum" *#